<!-- BS4 MODAL EDIT -->
<div class="modal" id="modalSua">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">

          <!-- Modal Header -->
          <!-- <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div> -->

          <!-- Modal body: chú ý ràng buộc Controller Object vào Form -->
          <div class="modal-body">
              Sử dụng Ajax để tải mã nguồn của Form Edit và đặt nó vào đây
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="bi-x"></i>Close</button>
          </div>

      </div>
  </div>
</div>

<!-- BS4 MODAL: DELETE -->
<div class="modal" id="modalXoa">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title"><i class="bi-trash"></i>Xác Nhận Xóa</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body: chú ý ràng buộc Controller Object vào Form -->
          <div class="modal-body">
              <form action="/category/xoa" method="post">
                  <input type="hidden" name="id" value="id của bản ghi mình cần xóa" />
                  <!-- <div class="form-group">
                      <label for="email">Email address:</label>
                      <input type="email" class="form-control" placeholder="Enter email" id="email">
                  </div>
                  <div class="form-group">
                      <label for="pwd">Password:</label>
                      <input type="password" class="form-control" placeholder="Enter password" id="pwd">
                  </div>
                 -->
                  <p>
                      Bạn có chắc muốn xóa ?
                  </p>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                          class="bi-x"></i>Hủy</button>
                  <button type="submit" class="btn btn-danger"><i class="bi-trash"></i>Xóa</button>

              </form>
          </div>

          <!-- Modal footer -->
          <!-- <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="bi-x"></i>Close</button>
          </div> -->

      </div>
  </div>
</div>

<div class="row">
    <div class="col-md-6 mt-4">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Category table</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Category Name</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="dh : ${ds}">
                  <td>
                    <div class="d-flex px-3 py-1">
                      <span class="text-xs font-weight-bold mb-0" th:text="${dh.id}"></span>
                    </div>
                  </td>
                  <td>
                        <p class="text-xs font-weight-bold mb-0" th:text="${dh.catname}"></p>
                  </td>
                  <td class="align-middle">
                    <a type="button" class="text-secondary font-weight-bold text-xs" th:data-id="${dh.id}" data-toggle="modal" href="#modalSua"
                        data-target="#modalSua" data-original-title="Edit user">
                      Edit
                    </a>
                    &nbsp;
                    <script>
                      // https://stackoverflow.com/questions/10626885/passing-data-to-a-bootstrap-modal
                      // triggered when modal is about to be shown
                      $('#modalSua').on('show.bs.modal', function (e) {

                          //get data-id attribute of the clicked element
                          var id = $(e.relatedTarget).data('id');

                          $('#modalSua .modal-body').load("/category/suaajax?id="+id);

                          //populate the textbox
                          // $(e.currentTarget).find('input[name="id"]').val(id);
                      });
                    </script>
                    <a type="button" class="text-secondary font-weight-bold text-xs" data-toggle="modal" data-target="#modalXoa" href="#modalXoa"
                    th:data-id="${dh.id}">
                      Delete
                    </a>
                    <script>
                      // https://stackoverflow.com/questions/10626885/passing-data-to-a-bootstrap-modal
                      //triggered when modal is about to be shown
                      $('#modalXoa').on('show.bs.modal', function (e) {

                          //get data-id attribute of the clicked element
                          var id = $(e.relatedTarget).data('id');

                          //populate the textbox
                          $(e.currentTarget).find('input[name="id"]').val(id);
                      });
                  </script>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 mt-5">
        <div class="card mb-4">
          <div class="card-header pb-2 px-3">
            <div class="row">
              <div class="col-md-6">
                <h6 class="mb-0">Add Category</h6>
              </div>
            </div>
          </div>
          <div class="card-body pt-4 p-3">
            <form role="form" method="post" th:action="@{/category/them}" th:object="${dl}">
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Category Name</label>
                  <input type="text" th:field="*{catname}" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Submit</button>
                </div>
              </form>
          </div>
        </div>
      </div>
  </div>
