
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../../../static/css/index.css" />

<body>
  <div style="width: 250px;margin: 0 auto">
      <logo>
          <img th:src="@{static/image/logo-removebg-preview.png}" style="width: 100%;height: 100%;  text-align: center">
      </logo>
  </div>

    <div>
        <span class="sweet-title">
            <div  class="sweet-title">Ticket</div>
            <div  class="sweet-title">Boss</div>
        </span>
    </div>

    <div style="text-align: center ; margin-top: 3%;">
      <span> 
        <a th:href="@{/concert}"><button class="button-78" role="button" style="width: 15% ; white-space: nowrap; min-width: 120px;">Go buy ticket</button></a>
      </span>
      <span>
        <a th:href="@{/user/them}"><button class="button-79" role="button" style="width: 15% ">Login</button></a>
      </span>
    </div>
    <div id="div_top_hypers" style="text-align: center">
      <ul id="ul_top_hypers" style="margin: 0 auto ;margin-top: 3%" >
        <li class="li">
          <button class="rounded-button" type="button">
            <ion-icon name="ticket-outline" size="large"></ion-icon>
          </button> 
        </li>
        <li class="li">
          <button class="rounded-button" type="button">
            <ion-icon name="share-social-sharp" size="large"></ion-icon>
          </button>  
        </li>
        <li class="li">
          <button class="rounded-button" type="button">
            <ion-icon name="call-outline" size="large"></ion-icon>
          </button>  
        </li>
      </ul>
    </div>
    <div id="ss">
      Social Media
    </div>
    <div  id="div_top_hypers" style="text-align: center ; "><br>
    <ul id="ul_top_hypers" style="margin: 0 auto ">
      <li  class="li2">
        <i class="fa-brands fa-facebook-f" style="color: rgb(255, 255, 255); size: large;"></i>
      </li>
      <li  class="li2">
        <i class="fa-brands fa-youtube" style="color: white; size: large;"></i>
      </li> 
      <li  class="li2">
        <i class="fa-brands fa-discord" style="color: white; size: large;"></i>
      </li> 
      <li  class="li2">
        <i class="fa-brands fa-twitter" style="color: white; size: large;"></i>
      </li> 
    </ul>
  </div>
</body>


